{{!-- If logged in, landing page will display events and have a modal to create a new event --}}
<div class="container">

  {{!-- Page Header --}}
  <div class="page-header">
    <h1>Your Events</h1>
  </div>

  {{!-- Event container --}}
  <div class="event-container">
    {{#each event}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{title}}
                    <small>{{date}} {{start}} - {{end}}</small>
                    <button class="btn btn-info" id="edit-event" data-id="{{id}}">EDIT</button>
                    <button class="btn btn-danger" id="delete-event" data-id="{{id}}">DELETE!</button>
                </h2>
            </div>
            <div class="panel-body">
                Location: {{location}}
                <p>{{description}}</p>
            </div>
        </div>
    {{/each}}
  </div>


  {{!-- Add new event button --}}
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="add-event">Add New Event</button>

  {{!-- Modal to create new event --}}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a new event</h4>
            </div>
              <div class="modal-body">
                  <form class="form-inline">
                      {{!-- Image --}}

                      {{!-- Event Title --}}
                      <div class="form-group">
                          <label class="sr-only" for="title">Event Name</label>
                          <input type="text" class="form-control" id="title" placeholder="Event Name">
                      </div>

                      {{!-- Location --}}
                      <div class="form-group">
                          <label class="sr-only" for="location">Location</label>
                          <input type="text" class="form-control" id="location" placeholder="Include a place name or address">
                      </div>

                      {{!-- Event Date --}}
                      <div class="form-group">
                          <label class="sr-only" for="date">Event Date</label>
                          <input type="date" class="form-control" id="date">
                      </div>

                      {{!-- Event Start Time --}}
                      <div class="form-group">
                          <label class="sr-only" for="start">Password</label>
                          <input type="time" class="form-control" id="start">
                      </div>

                      {{!-- Event End Time --}}
                      <div class="form-group">
                          <label class="sr-only" for="end">Password</label>
                          <input type="time" class="form-control" id="end">
                      </div>

                      {{!-- Description --}}
                      <div class="form-group">
                          <label class="sr-only" for="description">Description</label>
                          <textarea class="form-control" rows="4" id="description"></textarea>
                      </div>

                      {{!-- Keywords --}}


                      {{!-- Footer: Submit button --}}
                      <div class="modal-footer">
                          <button id="submit" type="submit" class="btn btn-default">Create</button>
                      </div>
                  </form>
              </div>
        </div>
    </div>
  </div>
</div>