{{!-- <li>

			{{title}}
			<small>
				{{date}} {{start}} - {{end}}
			</small>
			<button class="btn btn-info" id="edit-event" data-id="{{id}}">
				EDIT
			</button>
			<button class="btn btn-danger" id="delete-event" data-id="{{id}}">
				DELETE!
			</button>
		</h3>

	<p>Location: {{location}}</p>
	<p>{{description}}</p>

</li> --}}