<li>
	<h3>{{title}}<small> {{date}} {{start}} - {{end}} </small></h3>
	<hr>
	<p>Location: {{location}}</p>
	<p>{{description}}</p>

	<button class="delete-event" data-id="{{id}}">DELETE!</button>
</li>
